// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



$primary: #0454b6;
$secondary: #959fa4;
$success: #04b041;
$info:  #08bcff;
$warning: #ff7e00;
$danger: #ea2222;
$link: #ffffff;
$light: #666;
$dark: #222222;
